* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  height: 100vh;
  background-color: #282D35;
}

nav {
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 90px;
  padding: 30px 25px;
}

.nav--logo_text, .nav--title {
  margin: 0;
}

.nav--logo_text {
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
  font-size: 22px;
}

.nav--title {
  color: #DEEBF8;
  font-weight: 600;
}

.nav--icon {
  height: 30px;
  margin-right: 7px;
}

main {
  padding: 57px 27px;
  background-color:dimgray;
  background-image: url(/public/REACT-JS-KOCHI.png);
  background-repeat: no-repeat;
  background-position: 75% 50%;
  background-size: 30%;
}

.main--title{
  color: antiquewhite;
  margin: 0;
  font-size: 39px;
  letter-spacing:-0.05em;
  padding-left: 5%;
}

.main--facts {
  color: antiquewhite;
  margin-top: 46px;
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: normal;
  padding-left: 10%;
}

.main--facts > li {

  font-size: 16px;
  line-height: 19px;
}

.main--facts > li::marker {
  font-size: 1.4rem;
  color: aqua;
}